-- Tabela de Materiais (catÃ¡logo)
CREATE TABLE public.materiais (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  codigo TEXT NOT NULL UNIQUE,
  nome TEXT NOT NULL,
  unidade TEXT NOT NULL DEFAULT 'UN',
  tipo TEXT,
  categoria TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Tabela de Reservas/MovimentaÃ§Ãµes
CREATE TABLE public.reservas (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  numero_reserva TEXT NOT NULL,
  material_codigo TEXT NOT NULL,
  material_nome TEXT NOT NULL,
  quantidade_solicitada INTEGER NOT NULL DEFAULT 0,
  quantidade_liberada INTEGER NOT NULL DEFAULT 0,
  quantidade_utilizada INTEGER NOT NULL DEFAULT 0,
  saldo INTEGER GENERATED ALWAYS AS (quantidade_liberada - quantidade_utilizada) STORED,
  localidade TEXT NOT NULL CHECK (localidade IN ('Lauro', 'Salvador')),
  mes_referencia TEXT NOT NULL,
  ano_referencia INTEGER NOT NULL DEFAULT 2025,
  status TEXT NOT NULL DEFAULT 'Pendente' CHECK (status IN ('Pendente', 'Liberado', 'Parcial', 'ConcluÃ­do')),
  justificativa TEXT,
  empreiteira TEXT NOT NULL DEFAULT 'ConsÃ³rcio Nova Bolandeira II',
  data_reserva DATE DEFAULT CURRENT_DATE,
  data_solicitacao DATE,
  data_liberacao DATE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Tabela de HistÃ³rico de ImportaÃ§Ãµes
CREATE TABLE public.historico_importacoes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  nome_arquivo TEXT NOT NULL,
  tipo_importacao TEXT NOT NULL CHECK (tipo_importacao IN ('solicitacao', 'liberacao', 'utilizacao')),
  localidade TEXT NOT NULL,
  mes_referencia TEXT NOT NULL,
  ano_referencia INTEGER NOT NULL DEFAULT 2025,
  quantidade_registros INTEGER NOT NULL DEFAULT 0,
  status TEXT NOT NULL DEFAULT 'Sucesso' CHECK (status IN ('Sucesso', 'Parcial', 'Erro')),
  imported_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Tabela de Empreiteiras
CREATE TABLE public.empreiteiras (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  nome TEXT NOT NULL,
  cnpj TEXT,
  contato TEXT,
  ativo BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Inserir empreiteira padrÃ£o
INSERT INTO public.empreiteiras (nome, cnpj, contato)
VALUES ('ConsÃ³rcio Nova Bolandeira II', '12.345.678/0001-90', 'contato@novabolandeira.com.br');

-- Habilitar RLS
ALTER TABLE public.materiais ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.reservas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.historico_importacoes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.empreiteiras ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas pÃºblicas para acesso total (sistema interno sem autenticaÃ§Ã£o por enquanto)
CREATE POLICY "Acesso pÃºblico materiais SELECT" ON public.materiais FOR SELECT USING (true);
CREATE POLICY "Acesso pÃºblico materiais INSERT" ON public.materiais FOR INSERT WITH CHECK (true);
CREATE POLICY "Acesso pÃºblico materiais UPDATE" ON public.materiais FOR UPDATE USING (true);
CREATE POLICY "Acesso pÃºblico materiais DELETE" ON public.materiais FOR DELETE USING (true);

CREATE POLICY "Acesso pÃºblico reservas SELECT" ON public.reservas FOR SELECT USING (true);
CREATE POLICY "Acesso pÃºblico reservas INSERT" ON public.reservas FOR INSERT WITH CHECK (true);
CREATE POLICY "Acesso pÃºblico reservas UPDATE" ON public.reservas FOR UPDATE USING (true);
CREATE POLICY "Acesso pÃºblico reservas DELETE" ON public.reservas FOR DELETE USING (true);

CREATE POLICY "Acesso pÃºblico historico SELECT" ON public.historico_importacoes FOR SELECT USING (true);
CREATE POLICY "Acesso pÃºblico historico INSERT" ON public.historico_importacoes FOR INSERT WITH CHECK (true);

CREATE POLICY "Acesso pÃºblico empreiteiras SELECT" ON public.empreiteiras FOR SELECT USING (true);
CREATE POLICY "Acesso pÃºblico empreiteiras INSERT" ON public.empreiteiras FOR INSERT WITH CHECK (true);
CREATE POLICY "Acesso pÃºblico empreiteiras UPDATE" ON public.empreiteiras FOR UPDATE USING (true);

-- Trigger para atualizar updated_at
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER update_materiais_updated_at
  BEFORE UPDATE ON public.materiais
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_reservas_updated_at
  BEFORE UPDATE ON public.reservas
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Ãndices para performance
CREATE INDEX idx_reservas_localidade ON public.reservas(localidade);
CREATE INDEX idx_reservas_mes ON public.reservas(mes_referencia, ano_referencia);
CREATE INDEX idx_reservas_material ON public.reservas(material_codigo);
CREATE INDEX idx_reservas_status ON public.reservas(status);
-- Adicionar polÃ­tica DELETE para empreiteiras
CREATE POLICY "Acesso pÃºblico empreiteiras DELETE"
ON public.empreiteiras
FOR DELETE
USING (true);
ALTER TABLE public.historico_importacoes 
ADD COLUMN IF NOT EXISTS empreiteira TEXT DEFAULT 'ConsÃ³rcio Nova Bolandeira II';
-- Tabela de perfis
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- RLS
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can read own profile"
  ON public.profiles FOR SELECT
  TO authenticated
  USING (auth.uid() = id);

CREATE POLICY "Users can update own profile"
  ON public.profiles FOR UPDATE
  TO authenticated
  USING (auth.uid() = id);

-- Trigger para criar perfil automaticamente
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (id, name)
  VALUES (NEW.id, COALESCE(NEW.raw_user_meta_data->>'name', 'Usuario'));
  RETURN NEW;
END;
$$;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();
-- Tabela de audit logs para rastreabilidade
CREATE TABLE public.audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE SET NULL,
  user_name TEXT NOT NULL DEFAULT 'Sistema',
  action TEXT NOT NULL,
  table_name TEXT NOT NULL,
  record_id UUID,
  old_values JSONB,
  new_values JSONB,
  description TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Indices para performance
CREATE INDEX idx_audit_logs_table_record ON public.audit_logs(table_name, record_id);
CREATE INDEX idx_audit_logs_user ON public.audit_logs(user_id);
CREATE INDEX idx_audit_logs_created ON public.audit_logs(created_at DESC);

-- RLS
ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

-- Politicas (leitura e escrita publicas para operaÃ§Ã£o simplificada)
CREATE POLICY "Acesso publico audit_logs SELECT" ON public.audit_logs
  FOR SELECT USING (true);

CREATE POLICY "Acesso publico audit_logs INSERT" ON public.audit_logs
  FOR INSERT WITH CHECK (true);

-- Habilitar Realtime para reservas e historico_importacoes
ALTER PUBLICATION supabase_realtime ADD TABLE public.reservas;
ALTER PUBLICATION supabase_realtime ADD TABLE public.historico_importacoes;
-- =============================================
-- MATERIAIS: Remover politicas publicas e criar autenticadas
-- =============================================
DROP POLICY IF EXISTS "Acesso pÃºblico materiais INSERT" ON public.materiais;
DROP POLICY IF EXISTS "Acesso pÃºblico materiais UPDATE" ON public.materiais;
DROP POLICY IF EXISTS "Acesso pÃºblico materiais DELETE" ON public.materiais;
DROP POLICY IF EXISTS "Acesso pÃºblico materiais SELECT" ON public.materiais;

CREATE POLICY "Materiais SELECT autenticado" 
  ON public.materiais FOR SELECT 
  TO authenticated 
  USING (true);

CREATE POLICY "Materiais INSERT autenticado" 
  ON public.materiais FOR INSERT 
  TO authenticated 
  WITH CHECK (true);

CREATE POLICY "Materiais UPDATE autenticado" 
  ON public.materiais FOR UPDATE 
  TO authenticated 
  USING (true);

CREATE POLICY "Materiais DELETE autenticado" 
  ON public.materiais FOR DELETE 
  TO authenticated 
  USING (true);

-- =============================================
-- RESERVAS: Remover politicas publicas e criar autenticadas
-- =============================================
DROP POLICY IF EXISTS "Acesso pÃºblico reservas INSERT" ON public.reservas;
DROP POLICY IF EXISTS "Acesso pÃºblico reservas UPDATE" ON public.reservas;
DROP POLICY IF EXISTS "Acesso pÃºblico reservas DELETE" ON public.reservas;
DROP POLICY IF EXISTS "Acesso pÃºblico reservas SELECT" ON public.reservas;

CREATE POLICY "Reservas SELECT autenticado" 
  ON public.reservas FOR SELECT 
  TO authenticated 
  USING (true);

CREATE POLICY "Reservas INSERT autenticado" 
  ON public.reservas FOR INSERT 
  TO authenticated 
  WITH CHECK (true);

CREATE POLICY "Reservas UPDATE autenticado" 
  ON public.reservas FOR UPDATE 
  TO authenticated 
  USING (true);

CREATE POLICY "Reservas DELETE autenticado" 
  ON public.reservas FOR DELETE 
  TO authenticated 
  USING (true);

-- =============================================
-- EMPREITEIRAS: Remover politicas publicas e criar autenticadas
-- =============================================
DROP POLICY IF EXISTS "Acesso pÃºblico empreiteiras INSERT" ON public.empreiteiras;
DROP POLICY IF EXISTS "Acesso pÃºblico empreiteiras UPDATE" ON public.empreiteiras;
DROP POLICY IF EXISTS "Acesso pÃºblico empreiteiras DELETE" ON public.empreiteiras;
DROP POLICY IF EXISTS "Acesso pÃºblico empreiteiras SELECT" ON public.empreiteiras;

CREATE POLICY "Empreiteiras SELECT autenticado" 
  ON public.empreiteiras FOR SELECT 
  TO authenticated 
  USING (true);

CREATE POLICY "Empreiteiras INSERT autenticado" 
  ON public.empreiteiras FOR INSERT 
  TO authenticated 
  WITH CHECK (true);

CREATE POLICY "Empreiteiras UPDATE autenticado" 
  ON public.empreiteiras FOR UPDATE 
  TO authenticated 
  USING (true);

CREATE POLICY "Empreiteiras DELETE autenticado" 
  ON public.empreiteiras FOR DELETE 
  TO authenticated 
  USING (true);

-- =============================================
-- HISTORICO_IMPORTACOES: Remover politicas publicas e criar autenticadas
-- =============================================
DROP POLICY IF EXISTS "Acesso pÃºblico historico INSERT" ON public.historico_importacoes;
DROP POLICY IF EXISTS "Acesso pÃºblico historico SELECT" ON public.historico_importacoes;

CREATE POLICY "Historico SELECT autenticado" 
  ON public.historico_importacoes FOR SELECT 
  TO authenticated 
  USING (true);

CREATE POLICY "Historico INSERT autenticado" 
  ON public.historico_importacoes FOR INSERT 
  TO authenticated 
  WITH CHECK (true);

-- =============================================
-- AUDIT_LOGS: Remover politicas publicas e criar autenticadas
-- =============================================
DROP POLICY IF EXISTS "Acesso publico audit_logs INSERT" ON public.audit_logs;
DROP POLICY IF EXISTS "Acesso publico audit_logs SELECT" ON public.audit_logs;

CREATE POLICY "Audit_logs SELECT autenticado" 
  ON public.audit_logs FOR SELECT 
  TO authenticated 
  USING (true);

CREATE POLICY "Audit_logs INSERT autenticado" 
  ON public.audit_logs FOR INSERT 
  TO authenticated 
  WITH CHECK (true);
-- =============================================
-- PASSO 1: Criar enum de papÃ©is
-- =============================================
CREATE TYPE public.app_role AS ENUM ('admin', 'manager', 'user');

-- =============================================
-- PASSO 2: Criar tabela de papÃ©is
-- =============================================
CREATE TABLE public.user_roles (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id uuid REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
    role app_role NOT NULL,
    created_at timestamptz DEFAULT now(),
    UNIQUE (user_id, role)
);

-- Habilitar RLS
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- =============================================
-- PASSO 3: Criar funÃ§Ã£o de verificaÃ§Ã£o (SECURITY DEFINER)
-- =============================================
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;

-- =============================================
-- PASSO 4: PolÃ­ticas RLS para user_roles
-- =============================================
-- UsuÃ¡rios podem ver seus prÃ³prios papÃ©is
CREATE POLICY "Users can view own roles"
  ON public.user_roles FOR SELECT
  TO authenticated
  USING (user_id = auth.uid());

-- Apenas admins podem gerenciar papÃ©is (INSERT, UPDATE, DELETE)
CREATE POLICY "Only admins can insert roles"
  ON public.user_roles FOR INSERT
  TO authenticated
  WITH CHECK (public.has_role(auth.uid(), 'admin'));

CREATE POLICY "Only admins can update roles"
  ON public.user_roles FOR UPDATE
  TO authenticated
  USING (public.has_role(auth.uid(), 'admin'));

CREATE POLICY "Only admins can delete roles"
  ON public.user_roles FOR DELETE
  TO authenticated
  USING (public.has_role(auth.uid(), 'admin'));

-- =============================================
-- PASSO 5: Atualizar polÃ­tica do audit_logs
-- =============================================
DROP POLICY IF EXISTS "Audit_logs SELECT autenticado" ON public.audit_logs;

CREATE POLICY "Audit_logs SELECT restrito"
  ON public.audit_logs FOR SELECT
  TO authenticated
  USING (
    user_id = auth.uid() 
    OR public.has_role(auth.uid(), 'admin')
  );

-- =============================================
-- PASSO 6: Atribuir papel admin ao primeiro usuÃ¡rio
-- =============================================
INSERT INTO public.user_roles (user_id, role)
SELECT id, 'admin'::app_role 
FROM auth.users 
LIMIT 1;
-- Remover politica atual permissiva
DROP POLICY IF EXISTS "Audit_logs INSERT autenticado" ON public.audit_logs;

-- Nova politica: usuario so pode inserir logs com seu proprio user_id
CREATE POLICY "Audit_logs INSERT autenticado"
  ON public.audit_logs FOR INSERT
  TO authenticated
  WITH CHECK (
    user_id = auth.uid()
  );
